{% extends "base.html" %}
{% block content %}

<!-- Textfield with Floating Label -->

{% if request.user.is_authenticated %}


{% for message in messages %}
<div id="messageContainer" >
    <i class="dates">[{{ message.created_at }}]</i><b>{{ message.author.first_name }}:</b> {{ message.text }}
</div>
{% endfor %}

<script>
   async function sendMessage(){
        let form = new FormData();
        let token = '{{ csrf_token }}'
        form.append('txtmessage',messageField.value);
        form.append('csrfmiddlewaretoken', token);
        try{
            messageContainer.innerHTML += `
                <div id="deleteMessage" class="all-gray">
                    <i class="dates">[DATUM]</i><b>{{ request.user.first_name }}:</b> ${messageField.value}
                </div>`;
            await fetch('/chat/', {
                method: 'POST',
                body: form,
            });
            document.getElementById('deleteMessage').remove();
            messageContainer.innerHTML += `
                <div class="read">
                    <i class="dates">[DATUM]</i><b>{{ request.user.first_name }}:</b> ${messageField.value}
                </div>`;
            console.log('message send!')
        } catch(e){
            console.error('ERROR', e);
        }
    }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <!-- erzeugt ein verstecktes token vom typ hidden: type="hidden"
        dient der Zuweiseung der Nachrichten an den richtigen Chat
    -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="txtmessage" type="text" id="messageField" placeholder="Message...">
        <label class="mdl-textfield__label" for="messageField"></label>
    </div>
    <!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Button
</button>
</form>

{% else %}
    <h2>Bitte einloggen!</h2>
    <p>Du bist derzeit nicht eingeloggt. Nachrichten werden nur für eingeloggte Mitglieder angezeigt<br>
        Hier gehts zum <a href="/login/">Login</a>
    </p>

{% endif %}
{% endblock %}